<li>
	{{name}}

	<button class="devour-it" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}DEVOUR IT!{{else}}THROW IT UP!{{/if}} <!-- How do I get rid of throw it up? -->
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
